/*
 * commont
 */
.propLabel{float: left;}
.mouseMenu .mMContainer:after{content: '';display: block;clear: both;}

.panelLeft{border-right-color: #aaaaab;background-color: #dfdfdf;}
.mouseMenu, .mouseMenu .mMContainer{border-color: #aaaaab;}
.mouseMenu{background-color: #f0f0f0;margin: 50px 0 0 50px;}
.mouseMenu .mMContainer{padding: 4px;width: 318px;}

/*
 * PanelArea组件
 * 
 * 自有样式
 *   @title-left:   标题居左;
 *   @title-right:  标题居右;
 *   @title-middle: 标题居中;
 *   @single:       单标题样式;
 *   @simple:       扁平线框样式;
 *   @rich:         富线框样式;
 */
.panelArea{margin: 10px;}
.panelArea.title-left{text-align: left;}
.panelArea.title-middle{text-align: center;}
.panelArea.title-right{text-align: right;}
.panelArea .pA-title .pA-t-text{background-color: #dfdfdf;margin-left: 10px;}
.panelArea .pA-container{padding: 10px;}

.panelArea.single .pA-title{border-top: 1px solid #aaaaab;}

.panelArea.simple .pA-title{border-width: 1px 1px 0;border-radius: 4px 4px 0 0;}
.panelArea.simple .pA-container{border-width: 0 1px 1px;border-radius: 0 0 4px 4px;padding: 10px;}
.panelArea.simple .pA-title, .panelArea.simple .pA-container{border-style: solid;border-color: #aaaaab;}

/*
 * Proplabel组件
 * 
 */
.propLabel{margin: 4px;border-color: #aaaaab;border-radius: 3px;}
.propLabel>span{width: 90px;text-align: center;}
.propLabel input[type="text"]{color: #fff;background-color: #aaaaab;border-left-color: #aaaaab;border-right-color: transparent;width: 45px;}
.propLabel input[type="text"]:focus{background-color: #fff;color: #333;}